

<div class="cmp-helloworld" data-cmp-is="helloworld">
    <h2 class="cmp-helloworld__title">Hello World Component</h2>
    <div class="cmp-helloworld__item" data-sly-test="${properties.text}">
        <p class="cmp-helloworld__item-label">Text property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="property">${properties.text}</pre>
    </div>
    <div class="cmp-helloworld__item" data-sly-use.model="com.forms.learn.core.models.HelloWorldModel" data-sly-test="${model.message}">
        <p class="cmp-helloworld__item-label">Model message:</p>
        <pre class="cmp-helloworld__item-output"data-cmp-hook-helloworld="model">${model.message}</pre>
    </div>
</div>

<!--/*
<sly data-sly-use.pageListing="com.forms.learn.core.models.ChildTitlesModel" />
<sly data-sly-list.keyname="${pageListing.listOfChild}">
			${keyname}
  </sly>

  <dl data-sly-list="${currentPage.listChildren}">
    <dt>index: ${itemList.index}</dt>
    <dt>value: ${item.title}</dt>
</dl>
*/-->



hello1


<sly data-sly-use.pageListings="com.forms.learn.core.models.HelloWorldModel" />
<div data-sly-list.valll="${pageListings.childTitle}"
	<p>List :${valll}</p>

</div>


hello


